* {
    margin: auto 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* HEADER -------------------------------------------*/

header {
    display: flex;
    background-color: rgba(96, 109, 128, 0.795);
    border-bottom: 2px solid rgba(82, 134, 206, 0.562);
    /* border-radius: 0px 0px 10px 10px; */
}

@media only screen and (max-width: 600px) {
   header {
    font-size: 1em;
   }
}

/* NAV -------------------------------------------*/
.main-nav {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

a {
    font-weight: bold;
    color: ivory;
    text-decoration: none;
}

header > a {
    margin-left: auto;
    margin-right: 20px;
    text-transform: uppercase;
    /* border-bottom: 1px solid darkslategrey; */
    /* box-shadow: .1em .1em .1em .125em darkslategrey; */
    /* border-right: 1px solid darkslategrey; */
    padding: 5px;
    transition: all .2s;
}

/* header > a:hover {
    text-transform: lowercase;
    font-size: 1.1em;
    box-shadow: none;
    border: none;
} */

/* DISAPPEARING MENU -------------------------------------------*/
.hamIcon {
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    .nav-menu {
        display: none;
    }

    .nav-menu.toggleCls{
        display: block;
    }
}

@media only screen and (min-width: 801px) {
    .hamIcon {
        display: none;
    }

    .nav-menu {
        display: initial;
    }

}

/* COVER -------------------------------------------*/

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* border-bottom: 1px solid black; */
    margin-bottom: 50px;
}

/* .container * {
    padding: 0;
    margin: 0;
} */

.heading-1 {
    font-size: 8em;
    /* margin-top: 400px; */
    margin: 50px;
    /* color: rgba(2, 46, 99, 0.815); */
    color: rgba(123, 131, 148, 0.808);
    border-bottom: 1px solid rgba(82, 134, 206, 0.562);
}

.heading-1:hover{
    cursor: crosshair;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.heading-2 { 
    font-size: 1.5em;
    /* color: rgb(104, 102, 102); */
    color: rgba(116, 117, 119, 0.808);
    text-align: center;
    line-height: 1.5em;
    margin: 10px;
}

.cover-p {
    color: rgb(47, 56, 70);
    font-size: 1.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (max-width: 800px) {
    .heading-1 {
        font-size: 6em;
       }

    .heading-2 {
        font-size: 1.2em;  
      }

    .cover-p {
        font-size: 1.1em;
        margin-top: 0;
    }
 }

 @media only screen and (max-width: 600px) {
    .heading-1 {
     font-size: 4em;
    }

    .heading-2 {
      font-size: .9em;  
    }

    .cover-p {
        font-size: 1em;
        margin-top: 0;
    }
 }

 /* JOBS SECTION  -------------------------------------------*/

 /* .grid-wrapper {
     display: flex;
     justify-content: center;
 } */

 .inner-grid {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

.zone {
    border: 1px solid darkgrey;
    width: 200px;
    /* height: 150px; */
    margin: 20px;
    box-shadow: .1em .1em .1em .125em darkslategrey;
    transition: all 1s;
}

.zone li {
    list-style: none;
}

/* FOOTER -------------------------------------------*/
/*
.footer {
    display: grid;
    margin-top: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px));
    gap: 20px;
    /* background-color: chocolate; */
   /* border-top: 1px solid rgba(0, 0, 0, 0.562);
}

.phone, .email {
    border: 1px solid black;
}*/

.transitioner {
    transition: ease all .5s;
} 